# Ignore common cache folders
**/.vs
**/.idea
**/cmake-build-debug
**/build

# Ignore common output file
*.o
*.exe

# Pandoc render pdfs
**/*.pdf
src/rpi2/cmake-build-debug-mingw
src/rpi2/cmake-build-debug-visual-studio
